{% extends 'useend/registerTemplate.html'%}
{% block content %}
{% load static %}
<div class="header-bar">
    <div  >
   <a href="{% url 'tasks' %}"> <img src="{% static 'assets/to-do2.png' %}"> </a>
    </div>
</div>

<div class="card-body">
    <h1 style="text-align:center;">ENTER DETAILS</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <label class="labelCheck">{{form.title.label}}</label>
        {{form.title}}
        <label class="labelCheck">{{form.description.label}}</label>
        {{form.description}}

        <label class="labelCheck">{{form.priority.label}} (Low, Medium, High):</label>
        {{form.priority}}
        <label class="labelCheck">{{form.complete.label}}</label>
        {{form.complete}}
        <br/>
        <input class="button" type="submit" value="Submit">
        <a class="button1" href="{% url 'tasks' %}">&#8592; Back</a>
    </form>
</div>
{% endblock content %}