{% extends 'useend/main.html' %}
{% load static %}
{% block content %}
<div class="header-bar">
    <div  >
        <a href="{% url 'tasks' %}"> <img src="{% static 'assets/to-do.png' %}"> </a>
    </div>
    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a> 
    {% else %}
        <a href="{% url 'login' %}">Login</a> 
    {% endif %}
</div>

<div id="outer" style="width:100%;">
   <h2 clas="inner" style=" padding-left:25px; display:inline-block;">Welcome {{request.user | title}} to your to-do list!</h2>
  <div class="inner" style="display:inline-block;text-align:right; float:right;"><button style="background-color: #000;border: none;color: white;padding: 16px 32px;text-align: center;font-size: 16px;opacity: 0.6;transition: 0.3s;display: inline-block;text-decoration: none;cursor: pointer; margin-top:5px; margin-right: 20px;border-radius:25px;"> <a style="text-decoration:none; color:white;" href="{% url 'task-create' %}">Add Task</a></button></div>
</div>
    <h3 style="margin-left:50px; margin-top:0px;">There are <i>{{count}}</i> pending tasks!{{ count|pluralize:"s" }}</h3>
<div id="search-add-wrapper">
    <h2>Current List  </h2> 
    <form method="GET" style="display: flex;">
        <input type='text' name='search-area' value="{{search_input}}">
        <input class="button" type="submit" value='Search'>
    </form>
    <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
</div>

<div id="tasklist" class="task-items-wrapper" >
    {% for task in tasks %}
    <div class="task-wrapper" data-position="{{task.pk}}" >
        <div class="task-title" >
            {% if task.complete %}
            <div class="task-complete-icon"></div>

            <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i> 
            <i><s>{{task.priority}}</s></i> {% else %}
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'task-update' task.id %}">{{task}}</a> {% endif %}
        </div>
        <div class="task-controls" style="margin-right:18px;">
            <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
        </div>
    </div>

    {% empty %}
    <h3 style="padding: 15px;">No items in list</h3>
    {% endfor %}
</div>
    <h3 style="padding: 15px; color:white">No items in list</h3>
{% endblock content %}