body{
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;

}
 .container {
    max-width: auto;
    max-height: auto;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

a,
p {
    color: #4b5156

}
.header-bar {
    display: flex;
    justify-content: space-between;
    color: #000;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background-color:#fff;
    /* background: linear-gradient(90deg, #EEA390 0%, #EB796F 43%, #EB796F 100%); */
}

.header-bar1 {
    display: flex;
    justify-content: space-between;
    color: #000;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background-color:#fff;
    /* background: linear-gradient(90deg, #EEA390 0%, #EB796F 43%, #EB796F 100%); */
}

.header-bar a {
    color:black;
    border-color: #000;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
    padding-right: 35px;
    font-size: 18px;
}
